frontend/node_modules
frontend/static/frontend
venv/
frontend/.git
.env

temp/
media/
backend/module/utils/image_translator/models/

backend/module/utils/image_translator/result
backend/module/utils/image_translator/*.ckpt
backend/module/utils/image_translator/*.pt
backend/module/utils/image_translator/.vscode
backend/module/utils/image_translator/*.onnx
backend/module/utils/image_translator/__pycache__
backend/module/utils/image_translator/ocrs
backend/module/utils/image_translator/Manga
backend/module/utils/image_translator/Manga-translated
backend/module/utils/image_translator//models
backend/module/utils/image_translator/.env
backend/module/utils/image_translator/*.local
backend/module/utils/image_translator/*.local.*
backend/module/utils/image_translator/test/testdata
backend/module/utils/image_translator/.idea
backend/module/utils/image_translator/pyvenv.cfg
backend/module/utils/image_translator/Scripts
backend/module/utils/image_translator/Lib
backend/module/utils/image_translator/include
backend/module/utils/image_translator/share

# Distribution / packaging
backend/module/utils/image_translator/.Python
backend/module/utils/image_translator/build/
backend/module/utils/image_translator/develop-eggs/
backend/module/utils/image_translator/dist/
backend/module/utils/image_translator/downloads/
backend/module/utils/image_translator/eggs/
backend/module/utils/image_translator/.eggs/
backend/module/utils/image_translator/lib/
backend/module/utils/image_translator/lib64/
backend/module/utils/image_translator/parts/
backend/module/utils/image_translator/sdist/
backend/module/utils/image_translator/var/
backend/module/utils/image_translator/wheels/
backend/module/utils/image_translator/share/python-wheels/
backend/module/utils/image_translator/*.egg-info/
backend/module/utils/image_translator/.installed.cfg
backend/module/utils/image_translator/*.egg
backend/module/utils/image_translator/MANIFEST
backend/module/utils/image_translator/.history