frontend/node_modules
frontend/static/frontend
venv/
frontend/.git
.env

backend/temp.html
backend/media/
backend/utils/translator/models/

backend/utils/translator/result
backend/utils/translator/*.ckpt
backend/utils/translator/*.pt
backend/utils/translator/.vscode
backend/utils/translator/*.onnx
backend/utils/translator/__pycache__
backend/utils/translator/ocrs
backend/utils/translator/Manga
backend/utils/translator/Manga-translated
backend/utils/translator//models
backend/utils/translator/.env
backend/utils/translator/*.local
backend/utils/translator/*.local.*
backend/utils/translator/test/testdata
backend/utils/translator/.idea
backend/utils/translator/pyvenv.cfg
backend/utils/translator/Scripts
backend/utils/translator/Lib
backend/utils/translator/include
backend/utils/translator/share

# Distribution / packaging
backend/utils/translator/.Python
backend/utils/translator/build/
backend/utils/translator/develop-eggs/
backend/utils/translator/dist/
backend/utils/translator/downloads/
backend/utils/translator/eggs/
backend/utils/translator/.eggs/
backend/utils/translator/lib/
backend/utils/translator/lib64/
backend/utils/translator/parts/
backend/utils/translator/sdist/
backend/utils/translator/var/
backend/utils/translator/wheels/
backend/utils/translator/share/python-wheels/
backend/utils/translator/*.egg-info/
backend/utils/translator/.installed.cfg
backend/utils/translator/*.egg
backend/utils/translator/MANIFEST
backend/utils/translator/.history