frontend/node_modules
frontend/static/frontend
venv/
frontend/.git
.env

temp/
backend/module/media/
backend/module/utils/translator/models/

backend/module/utils/translator/result
backend/module/utils/translator/*.ckpt
backend/module/utils/translator/*.pt
backend/module/utils/translator/.vscode
backend/module/utils/translator/*.onnx
backend/module/utils/translator/__pycache__
backend/module/utils/translator/ocrs
backend/module/utils/translator/Manga
backend/module/utils/translator/Manga-translated
backend/module/utils/translator//models
backend/module/utils/translator/.env
backend/module/utils/translator/*.local
backend/module/utils/translator/*.local.*
backend/module/utils/translator/test/testdata
backend/module/utils/translator/.idea
backend/module/utils/translator/pyvenv.cfg
backend/module/utils/translator/Scripts
backend/module/utils/translator/Lib
backend/module/utils/translator/include
backend/module/utils/translator/share

# Distribution / packaging
backend/module/utils/translator/.Python
backend/module/utils/translator/build/
backend/module/utils/translator/develop-eggs/
backend/module/utils/translator/dist/
backend/module/utils/translator/downloads/
backend/module/utils/translator/eggs/
backend/module/utils/translator/.eggs/
backend/module/utils/translator/lib/
backend/module/utils/translator/lib64/
backend/module/utils/translator/parts/
backend/module/utils/translator/sdist/
backend/module/utils/translator/var/
backend/module/utils/translator/wheels/
backend/module/utils/translator/share/python-wheels/
backend/module/utils/translator/*.egg-info/
backend/module/utils/translator/.installed.cfg
backend/module/utils/translator/*.egg
backend/module/utils/translator/MANIFEST
backend/module/utils/translator/.history